modules = ["nodejs-20", "web"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 5173

[[ports]]
localPort = 33303
externalPort = 4200

[[ports]]
localPort = 40515
externalPort = 6000

[[ports]]
localPort = 40803
externalPort = 8008

[[ports]]
localPort = 41015
externalPort = 6800

[[ports]]
localPort = 42103
externalPort = 3001

[[ports]]
localPort = 42587
externalPort = 3000

[[ports]]
localPort = 43061
externalPort = 5000

[[ports]]
localPort = 43345
externalPort = 8081

[[ports]]
localPort = 43799
externalPort = 3003

[[ports]]
localPort = 44907
externalPort = 8080

[[ports]]
localPort = 45003
externalPort = 8000

[[ports]]
localPort = 45653
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
run = ["npx", "vite", "preview", "--host", "0.0.0.0", "--port", "5000"]
build = ["npm", "run", "build"]
